<div class="checkResult" style="display: block;">


	<ul class="fields-list vehicle">
		<!--
				<li><span class="caption">Статус записи:</span>&nbsp;<span class="field vehicle-status">-</span></li>
				<li><span class="caption">Уникальный номер записи:</span>&nbsp;<span class="field vehicle-un">-</span></li>
				-->
		<li><span class="caption">Марка и(или) модель:</span>&nbsp;<span class="field vehicle-model">СНRУSLЕR VОУАGЕR
				SЕ</span></li>
		<li><span class="caption">Год выпуска:</span>&nbsp;<span class="field vehicle-year">2000</span></li>
		<li><span class="caption">Идентификационный номер (VIN):</span>&nbsp;<span
				class="field vehicle-vin">2С4GJ453ХУR693697</span></li>
		<li><span class="caption">Номер шасси (рамы):</span>&nbsp;<span class="field vehicle-chassisNumber">-</span>
		</li>
		<li><span class="caption">Номер кузова (кабины):</span>&nbsp;<span
				class="field vehicle-bodyNumber">2С4GJ453ХУR693697</span></li>
		<li><span class="caption">Цвет кузова (кабины):</span>&nbsp;<span class="field vehicle-color">ЗЕЛЕНЫЙ</span>
		</li>
		<li><span class="caption">Рабочий объем (см³):</span>&nbsp;<span
				class="field vehicle-engineVolume">2972.0</span></li>
		<li><span class="caption">Мощность (кВт/л.с.):</span>&nbsp;<span class="field vehicle-powerKwtHp">110/150</span>
		</li>
		<li><span class="caption">Тип транспортного средства:</span>&nbsp;<span class="field vehicle-type">Легковые
				автомобили универсал</span></li>
		<!--
				<li><span class="caption">Экологический класс:</span>&nbsp;<span class="field vehicle-ecoclass">-</span></li>
				-->
	</ul>
	<ul class="ownershipPeriods">
		<p>Периоды владения транспортным средством</p>

		<li>c <span class="ownershipPeriods-from">04.10.2006</span> по <span
				class="ownershipPeriods-to">25.10.2007</span>: <span class="simplePersonType">Физическое лицо</span>
		</li>
		<li>c <span class="ownershipPeriods-from">30.10.2007</span> по <span
				class="ownershipPeriods-to">25.05.2010</span>: <span class="simplePersonType">Физическое лицо</span>
		</li>
		<li>c <span class="ownershipPeriods-from">25.05.2010</span> по <span
				class="ownershipPeriods-to">25.05.2010</span>: <span class="simplePersonType">Физическое лицо</span>
		</li>
		<li>c <span class="ownershipPeriods-from">17.08.2010</span> по <span
				class="ownershipPeriods-to">06.07.2013</span>: <span class="simplePersonType">Физическое лицо</span>
		</li>
		<li>c <span class="ownershipPeriods-from">06.07.2013</span> по <span
				class="ownershipPeriods-to">18.09.2013</span>: <span class="simplePersonType">Физическое лицо</span>
		</li>
		<li>c <span class="ownershipPeriods-from">18.09.2013</span> по <span
				class="ownershipPeriods-to">18.09.2013</span>: <span class="simplePersonType">Физическое лицо</span>
		</li>
		<li class="last-owner">c <span class="ownershipPeriods-from">19.09.2013</span> по <span
				class="ownershipPeriods-to">настоящее время</span>: <span class="simplePersonType">Физическое
				лицо</span>
			<div>Последняя операция - регистрация ТС, прибывших из других регионов Российской Федерации</div>
		</li>
	</ul>
</div>
<div class="checkResult" style="display: block;">
	<ul class="aiusdtp-list">
		<h3>aiusdtp-list</h3>
		<li>
			<br>
			<p class="ul-title">Информация о происшествии №400002240</p>
			<ul class="fields-list aiusdtp-data">
				<li><span class="caption">Дата и время происшествия:</span>&nbsp;<span class="field">11.01.2020
						12:30</span></li>
				<li><span class="caption">Тип происшествия:</span>&nbsp;<span class="field">Наезд на стоящее
						ТС</span></li>
				<li><span class="caption">Регион происшествия:</span>&nbsp;<span class="field">Санкт-Петербург</span>
				</li>
				<li><span class="caption">Место происшествия:</span>&nbsp;<span class="field">Санкт-Петербург,
						Калининский</span></li>
				<li><span class="caption">Марка (модель) ТС:</span>&nbsp;<span class="field">BMW(Прочие модели
						BMW)</span></li>
				<li><span class="caption">Год выпуска ТС:</span>&nbsp;<span class="field">2013</span></li>
				<li><span class="caption">ОПФ собственника:</span>&nbsp;<span class="field">ФИЗИЧЕСКИЕ ЛИЦА</span>
				</li>
				<li><span class="caption">Номер ТС/из всего ТС в ДТП:…" </span> </li>
			</ul>
		</li>
	</ul>
</div>
<div class="checkResult" style="display: block;">
	<ul class="wanted-list">
		<li>
			<p class="ul-title">Информация о постановке в розыск</p>
			<ul class="fields-list wanted-data">
				<li><span class="caption">Марка (модель) ТС:</span>&nbsp;<span class="field">ТОЙОТАКАМРИ</span></li>
				<li><span class="caption">Год выпуска ТС:</span>&nbsp;<span class="field">2012&nbsp;г.</span></li>
				<li><span class="caption">Дата постоянного учета в розыске:</span>&nbsp;<span
						class="field">12.02.2020</span></li>
				<li><span class="caption">Регион инициатора розыска:</span>&nbsp;<span class="field">Свердловская
						область</span></li>
			</ul>
		</li>"
	</ul>
</div>
<div class="checkResult"
	style="display: block; overflow: hidden; height: 271.745px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
	<ul class="restricted-list">

		<li>
			<p class="ul-title">Информация о наложении ограничения</p>
			<ul class="fields-list restrict-data">
				<li><span class="caption">Марка (модель) ТС:</span>&nbsp;<span class="field">Нет данных</span></li>
				<li><span class="caption">Год выпуска ТС:</span>&nbsp;<span class="field">2000&nbsp;г.</span></li>
				<li><span class="caption">Дата наложения ограничения:</span>&nbsp;<span
						class="field">11.03.2020&nbsp;г.</span></li>
				<li><span class="caption">Регион инициатора ограничения:</span>&nbsp;<span class="field">Пензенская
						область</span></li>
				<li><span class="caption">Кем наложено ограничение:</span>&nbsp;<span class="field">Судебный
						пристав</span></li>
				<li><span class="caption">Вид ограничения:</span>&nbsp;<span class="field">Запрет на регистрационные
						действия</span></li>
				<li><span class="caption">Основание:</span>&nbsp;<span class="field">Документ: 30370671/5833 от
						11.03.2020, Бочкарева Марина Николаевна, СПИ: 56331003359931, ИП: <a
							href="http://fssprus.ru/iss/ip?is%5Bvariant%5D=3&amp;is%5Bip_number%5D=3961%2F20%2F58033-%D0%98%D0%9F"
							title="Проверить на сайте ФССП России" target="_blank">3961/20/58033-ИП</a> от
						06.03.2020</span></li>
				<li><span class="caption">Телефон инициатора:</span>&nbsp;<span class="field">+7(84161)3-16-61</span>
				</li>
				<li><span class="caption">Ключ ГИБДД:</span>&nbsp;<span class="field">58#SP215150395</span></li>
				<p style="font-size:11px; color: red;">Более подробная информация может быть получена Вами у инициатора
					ограничения.</p>
			</ul>
		</li>
		<li>
			<p class="ul-title">Информация о наложении ограничения</p>
			<ul class="fields-list restrict-data">
				<li><span class="caption">Марка (модель) ТС:</span>&nbsp;<span class="field">2</span></li>
				<li><span class="caption">Год выпуска ТС:</span>&nbsp;<span class="field">2000&nbsp;г.</span></li>
				<li><span class="caption">Дата наложения ограничения:</span>&nbsp;<span
						class="field">11.03.2020&nbsp;г.</span></li>
				<li><span class="caption">Регион инициатора ограничения:</span>&nbsp;<span class="field">Пензенская
						область</span></li>
				<li><span class="caption">Кем наложено ограничение:</span>&nbsp;<span class="field">Судебный
						пристав</span></li>
				<li><span class="caption">Вид ограничения:</span>&nbsp;<span class="field">Запрет на регистрационные
						действия</span></li>
				<li><span class="caption">Основание:</span>&nbsp;<span class="field">Документ: 30370671/5833 от
						11.03.2020, Бочкарева Марина Николаевна, СПИ: 56331003359931, ИП: <a
							href="http://fssprus.ru/iss/ip?is%5Bvariant%5D=3&amp;is%5Bip_number%5D=3961%2F20%2F58033-%D0%98%D0%9F"
							title="Проверить на сайте ФССП России" target="_blank">3961/20/58033-ИП</a> от
						06.03.2020</span></li>
				<li><span class="caption">Телефон инициатора:</span>&nbsp;<span class="field">+7(84161)3-16-61</span>
				</li>
				<li><span class="caption">Ключ ГИБДД:</span>&nbsp;<span class="field">58#SP215150395</span></li>
				<p style="font-size:11px; color: red;">Более подробная информация может быть получена Вами у инициатора
					ограничения.</p>
			</ul>
		</li>
	</ul>
</div>